.right {
    // background-color: blue;
    width: 40vw;
}

img {
    height: 80vh;
    width: 35vw;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

// @keyframes fadeInAnimation {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }