.navbar {
    background-color: rgb(71, 78, 75);
    color: white;
    display: flex;
    justify-content: space-around;
    // background-image: linear-gradient(to right, #d4af7a, rgb(33, 32, 32));
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    animation: animate-bg 10s infinite ease-in-out;
    background-size: 400% 400%;
}

.navbar-brand {
    margin: auto 10px;
}

#input-field {
    display: flex;
    // padding-right: 700px;
}

#search-icon {
    padding: 8px;
    font-size: larger;
}

.btn {
    font-size: larger;
    font-weight: bold;
    color: white;
}

@keyframes animate-bg {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

a {
    text-decoration: none;
    color: white;
}