<div class="container">
    <div *ngIf="errormsg.length>0" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong *ngFor="let error of errormsg" value="error">{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h1 style="text-align: center;"><strong>Register Form</strong></h1>
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">
        <mat-card class="mat-elevation-z4">
            <div class="row">

                <div class="col-12  form-group">

                    <mat-form-field>

                        <mat-label>Email id</mat-label>

                        <input matInput type="text" placeholder="Enter Email Id" formControlName="username">

                        <!-- <mat-hint align="start">Not more then 60 characters long.</mat-hint> -->

                        <mat-error *ngIf="hasError('username', 'required')">Field should not be empty</mat-error>

                        <mat-error *ngIf="hasError('username', 'email')">Please enter a valid email id</mat-error>

                    </mat-form-field>
                    <!-- <p>
                    {{getErrorMessage()}}
                </p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <mat-form-field>

                        <mat-label>First Name</mat-label>

                        <input matInput type="text" placeholder="Enter first name" formControlName="firstName">

                        <mat-hint align="start">Not more then 60 characters long.</mat-hint>

                        <mat-error *ngIf="hasError('firstName', 'required')">Field should not be empty</mat-error>

                        <mat-error *ngIf="hasError('firstName', 'maxlength')">Exceeding maxlength</mat-error>

                    </mat-form-field>
                    <!-- <label>First name</label>
                <input type="text" placeholder="First Name" class="form-control" formControlName="firstName"> -->
                </div>
                <div class="col-6 form-group">
                    <mat-form-field>

                        <mat-label>Last Name</mat-label>

                        <input matInput type="text" placeholder="Enter first name" formControlName="lastName">

                        <mat-hint align="start">Not more then 60 characters long.</mat-hint>

                        <mat-error *ngIf="hasError('lastName', 'required')">Field should not be empty</mat-error>

                        <mat-error *ngIf="hasError('lastName', 'maxlength')">Exceeding maxlength</mat-error>

                    </mat-form-field>
                    <!-- <label>Last name</label>
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <mat-form-field>

                        <mat-label>Password</mat-label>

                        <input matInput type="password" placeholder="Enter password" formControlName="password">

                        <mat-hint align="start">Minimum length should be at least 5</mat-hint>

                        <mat-error *ngIf="hasError('password', 'required')">Field should not be empty</mat-error>

                        <mat-error *ngIf="hasError('password', 'minlength')">Minimum length should be at least 5</mat-error>

                    </mat-form-field>
                    <!-- <label>Password</label>
                <input type="password" placeholder="Password" class="form-control" formControlName="password"> -->
                </div>
                <div class="col-6 form-group ">
                    <mat-form-field>

                        <mat-label>Confirm Password</mat-label>

                        <input matInput type="password" placeholder="Enter password" formControlName="confirmPassword">

                        <mat-hint align="start">Minimum length should be at least 5.</mat-hint>

                        <mat-error *ngIf="hasError('confirmPassword', 'required')">Field should not be empty</mat-error>

                        <mat-error *ngIf="hasError('confirmPassword', 'minlength')">Minimum length should be at least 5</mat-error>

                    </mat-form-field>
                    <!-- <label>Password</label>
                <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-danger" routerLink="/">Cancel</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </mat-card>

    </form>
    <div class="signin">
        <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>
</div>