<div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="padding:9px;">
    <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></span>
    <strong>{{errormsg}}</strong>
</div>
<div class="cont" style="margin-top: 30px;">
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin() ">

        <div class="form sign-in">
            <h2><strong>Fill the login form to sign in!!</strong></h2>
            <br>


            <label>
                <mat-form-field >
  
                  <mat-label>Email id</mat-label>
  
                  <input matInput type="text" placeholder="Enter Email Id" formControlName="username">
  
         
  
                  <mat-error *ngIf="hasError('username', 'required')">Field should not be empty</mat-error>
  
                  <mat-error *ngIf="hasError('username', 'email')">Please enter a valid email id</mat-error>
  
              </mat-form-field>
             
              </label>
            <label>
                <mat-form-field >
  
                  <mat-label >Password</mat-label>
  
                  <input matInput type="password" placeholder="Enter password" formControlName="password">
  
              
  
                  <mat-error *ngIf="hasError('password', 'required')">Field should not be empty</mat-error>
  
                  <mat-error *ngIf="hasError('password', 'minlength')">Minimum length should be at least 5</mat-error>
  
              </mat-form-field>
             
              </label>
            <button type="submit" class="submit" value="Login ">Sign In</button>





        </div>

        <div class="sub-cont ">
            <div class="img ">
                <div class="img__text m--up ">
                    <h2>New here?</h2>
                    <p>Sign up and discover great amount of new products!</p>
                </div>
                <div class="img__text m--in ">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img__btn ">
                    <button routerLink="/register"><span class="m--up">Sign Up</span></button>

                </div>
            </div>
            <div class="form sign-up ">
                <h2>Time to feel like home,</h2>
                <label>
                  <span>Name</span>
                    <input type="text " />
                    </label>
                <label>
                  <span>Email</span>
                  <input type="email " />
                </label>
                <label>
                  <span>Password</span>
                  <input type="password " />
                </label>
                <button type="button " class="submit ">Sign Up</button>

            </div>
        </div>
    </form>
</div>





<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>